body {
	background-color: #333333;
	background-image: url('../img/cubes.png');
	color: #00FF00;
	font-size: 16px;
}
pre {
	font-family: "Courier New", Courier, monospace;
}
header pre {
	text-align: center;
	font-size: .4em;
	text-overflow: ellipsis;
	overflow: hidden;
}
header span {
	display: none;
}
#game-wrapper {}
#game-display {
	min-width: 320px;
	max-width: 1200px;
	margin: auto;
	border: 1px solid #00FF00;
	background-color: #222222;
	text-align: center;
	position:relative;
}
#game-info {
	max-width: 1200px;
	margin: auto;
	border: 1px solid #00FF00;
	background-color: #353535;
	text-align: center;
}

#score-display{
	color: #00FF00;;
	position: absolute;
	margin: 0;
	top: 2%;
	left: 2%;	
}
#game-logo {
	position:absolute;
	text-align: center;
	width: 100%;
	font-size: .33em;
	top: 2%;
}

#start-button,
#reset-button{
	position:absolute;
	font-size: .5em;
	min-height: 20%;
	width: 30%;
	top: 40%;
	left: 35%;
	border: 1px solid #00FF00;
	font-size: 2em;
	background-color: #353535;
	opacity: .75;
}
#reset-button:hover{
	color: #FFFFFF;
	opacity: 1;
}
