body {
	background: #111111;
	background-image: url('../img/cubes.png');
	color: #00FF00;
	font-size: 16px;
}
pre {
	font-family: "Courier New", Courier, monospace;
}
header h1 {
	font-size: 16px;
}
header pre {
	text-align: center;
	font-size: .33em;
	text-overflow: ellipsis;
	overflow: hidden;
}
header span {
	display: none;
}
#game-wrapper {
	padding: 15px 0px;
}
#game-display {
	min-width: 320px;
	max-width: 1600px;
	margin: auto;
	border: 1px solid #00FF00;
	background-color: #222222;
	text-align: center;
	position: relative;
}
#game-info {
	max-width: 1570px;
	margin: auto;
	margin-top: 30px;
	border: 1px solid #00FF00;
	padding: 15px;
	background-color: #111111;
	text-align: center;
}
#game-info h2 {
	margin-top: 0;
}
#controls-list {
	color: #FFFFFF;
	font-weight: 700;
}
#controls-list span {
	color: #00ff00;
}
#score-display {
	color: #00FF00;
	position: absolute;
	margin: 0;
	top: 2%;
	left: 2%;
}
#game-logo {
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: .33em;
	top: 2%;
}
#orbit-message {
	position: absolute;
	top: 2%;
	right: 2%;
	width: 75%;
	text-align: right;
}
#orbit-message p {
	margin: 0;
}
#start-button,
#reset-button {
	position: absolute;
	font-size: .5em;
	min-height: 10%;
	width: 96%;
	bottom: 2%;
	left: 2%;
	right: 2%;
	border: 1px solid #00FF00;
	font-size: 2em;
	background-color: #353535;
	opacity: .75;
}
#start-button:hover,
#reset-button:hover {
	color: #FFFFFF;
	opacity: 1;
}
@media (min-width: 640px) {
	header pre {
		font-size: .33em;
	}
	#game-logo {
		font-size: .33em;
	}
}
@media (min-width: 720px) {
	header pre {
		font-size: .5em;
	}
	#game-logo {
		font-size: .5em;
	}
}
@media (min-width: 960px) {
	header pre {
		font-size: .7em;
	}
	#game-logo {
		font-size: .7em;
	}
}
@media (min-width: 1200px) {
	header pre {
		font-size: 1em;
	}
	#game-logo {
		font-size: 1em;
	}
}
